<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome To Pocket-Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome To Pocket-Todo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="4" size-md="6">
        <ion-card>
          <ion-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
              <ion-input
                [errorText]="formErrorService.getErrorMessage(email, 'email')"
                fill="outline"
                formControlName="email"
                label="Email"
                labelPlacement="stacked"
                placeholder="Enter your email"
                type="email" />

              <ion-input
                [errorText]="
                  formErrorService.getErrorMessage(password, 'password')
                "
                fill="outline"
                formControlName="password"
                label="Password"
                labelPlacement="stacked"
                placeholder="Enter your password"
                type="password">
                <ion-input-password-toggle
                  slot="end"></ion-input-password-toggle>
              </ion-input>

              <ion-button
                [disabled]="loginForm.invalid || isLoading()"
                class="ion-margin-top"
                expand="block"
                type="submit">
                @if (isLoading()) {
                  Loading...
                } @else {
                  Login
                }
              </ion-button>
            </form>

            <div class="ion-text-center ion-margin-top">
              <ion-text>
                <p>
                  Don't have an account?
                  <a class="link" routerLink="/register">Register here</a>
                </p>
              </ion-text>
              <ion-text>
                <p>
                  <a class="link" routerLink="/password-reset"
                    >Forgot password?</a
                  >
                </p>
              </ion-text>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
