.link {
  color: var(--ion-color-primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

ion-card {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
