<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reset Your Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="4" size-md="6">
        <ion-card>
          <ion-card-content>
            @if (!emailSent()) {
              <ion-text>
                <p class="margin-bottom">
                  Enter your email address and we'll send you a link to reset
                  your password.
                </p>
              </ion-text>

              <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <ion-input
                  type="email"
                  fill="outline"
                  formControlName="email"
                  label="Email"
                  labelPlacement="stacked"
                  placeholder="Enter your email"
                  [errorText]="
                    formErrorService.getErrorMessage(email, 'email')
                  " />

                <ion-button
                  expand="block"
                  type="submit"
                  [disabled]="resetForm.invalid || isLoading()"
                  class="ion-margin-top">
                  @if (isLoading()) {
                    Sending...
                  } @else {
                    Send Reset Email
                  }
                </ion-button>
              </form>
            } @else {
              <div class="success-message">
                <ion-text color="success">
                  <h3>Email Sent!</h3>
                  <p>
                    We've sent a password reset link to your email address.
                    Please check your inbox and follow the instructions to reset
                    your password.
                  </p>
                </ion-text>
              </div>
            }

            <div class="ion-text-center ion-margin-top">
              <ion-text>
                <p>
                  <a class="link" routerLink="/login">Back to Login</a>
                </p>
              </ion-text>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
