<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Todos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  @for (todo of (todos$ | async); track todoTrackBy($index, todo)) {
    <ion-card class="ion-margin">
      <ion-card-header>
        <div>
          @if (todo.priority === 'high') {
            <ion-icon color="danger" name="ellipse" size="small"></ion-icon>
          }
          @if (todo.priority === 'low') {
            <ion-icon color="success" name="ellipse" size="small"></ion-icon>
          }
          @if (todo.priority === 'normal') {
            <ion-icon color="warning" name="ellipse" size="small"></ion-icon>
          }
          <ion-label> {{ todo.description }}</ion-label>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Due {{ todo.dueDate | date:'yyyy-MM-dd' }}</ion-label>
      </ion-card-content>
      <ion-row>
        <ion-item [routerLink]="['./edit', todo.id]" routerDirection="forward">
          <ion-icon name="pencil-outline"></ion-icon>
          <p>Update</p>
        </ion-item>
        <ion-item (click)="deleteTodo(todo.id)">
          <ion-icon name="trash-outline"></ion-icon>
          <p>Delete</p>
        </ion-item>
      </ion-row>
    </ion-card>
  }
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerDirection="forward" routerLink="./edit">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
