<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Talk to GPT
    </ion-title>
    @if (processing) {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Talk to GPT</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    @if (!recording) {
      <ion-button [disabled]="processing" (click)="startRecording()" color="success">
        <ion-icon slot="start" icon="svg/mic-circle-outline.svg"></ion-icon>
        Start Recording
      </ion-button>
    }
    @if (recording) {
      <ion-button (click)="stopRecording()" color="danger">
        <ion-icon slot="start" icon="svg/stop-circle-outline.svg"></ion-icon>
        Stop Recording
      </ion-button>
    }

    @if (speechToTextResponse) {
      <p class="ion-margin">{{ speechToTextResponse }}</p>
    }
    @if (chatGPT4Response) {
      <p class="ion-margin">{{ chatGPT4Response }}</p>
    }

    @if (textToSpeechResponse) {
      <ion-button (click)="speak()" color="success">
        <ion-icon slot="start" icon="svg/play-circle-outline.svg"></ion-icon>
        Speak
      </ion-button>
    }

    @if (error) {
      <p class="ion-margin error">{{ error }}</p>
    }
  </div>
</ion-content>
