ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

ion-modal ion-datetime {
  height: 382px;
}

ion-datetime {
  height: auto;
  width: auto;
  max-width: 350px;
}
