<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #signupForm="ngForm" (ngSubmit)="signupForm.valid && register(username.value)"
        [ngFormOptions]="{updateOn: 'submit'}"
        class="ion-margin-top" novalidate>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-input #username="ngModel" errorText="Username is required"
                       [required]="true" [spellcheck]="false"
                       autocapitalize="off" autocomplete="username"
                       label="Username" labelPlacement="stacked"
                       name="username"
                       ngModel type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-margin-top">
          <ion-button color="secondary" expand="block" type="submit">Register</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>

