<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #todoForm="ngForm" (ngSubmit)="todoForm.valid && save(todoForm)"
        [ngFormOptions]="{updateOn: 'submit'}" novalidate>

    <ion-list>
      <ion-item fill="outline">
        <ion-label position="floating">Task</ion-label>
        <ion-input #description="ngModel" [ngModel]="selectedTodo.description" [required]="true"
                   name="description"></ion-input>
        <span *ngIf="!description.valid && todoForm.submitted" slot="error">Task is required</span>
      </ion-item>

      <ion-item class="ion-margin-top" fill="outline">
        <ion-label position="floating">Priority</ion-label>
        <ion-select #priority="ngModel" [ngModel]="selectedTodo.priority" [required]="true" name="priority">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
        <span *ngIf="!priority.valid && todoForm.submitted" slot="error">Task is required</span>
      </ion-item>

      <ion-item class="ion-margin-top" fill="outline">
        <ion-label position="floating">Due Date</ion-label>
        <ion-input (click)="showCalendar=true" [ngModel]="dueDate" [readonly]="true" [required]="true"
                   name="dueDate"></ion-input>
        <ion-modal [isOpen]="showCalendar">
          <ng-template>
            <ion-content>
              <ion-datetime (ionCancel)="showCalendar=false"
                            (ionChange)="dateChanged($event)"
                            [showClearButton]="true"
                            [showDefaultButtons]="true"
                            [value]="dueDate"
                            presentation="date"></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Save</ion-button>
    </div>

  </form>
</ion-content>
