<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo" />
    </ion-buttons>
    <ion-title> Edit Todo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formRoot]="todoForm" (submit)="todoForm().valid() && save()" novalidate>
    <ion-list>
      <ion-item lines="none">
        <ion-input
          [formField]="todoForm.description"
          [required]="true"
          errorText="Task is required"
          label="Task"
          labelPlacement="floating"
        />
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-select [formField]="todoForm.priority" label="Priority" labelPlacement="floating">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
        @if (!todoForm.priority().valid() && todoForm.priority().touched()) {
          <span slot="error">Task is required</span>
        }
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-input
          (click)="showCalendar.set(true)"
          [formField]="todoForm.dueDate"
          [readonly]="true"
          [required]="true"
          label="Due Date"
          labelPlacement="floating"
        />
        <ion-modal [isOpen]="showCalendar()">
          <ng-template>
            <ion-content>
              <ion-datetime
                (ionCancel)="showCalendar.set(false)"
                (ionChange)="dateChanged($event)"
                [showClearButton]="true"
                [showDefaultButtons]="true"
                [value]="todoModel().dueDate"
                presentation="date"
              />
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button [disabled]="!todoForm().valid()" expand="block" type="submit">Save</ion-button>
    </div>
  </form>
</ion-content>
