<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      pix2sketch
    </ion-title>
    @if (processing) {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pix2sketch</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-button [disabled]="processing" (click)="selectImage()">
      <ion-icon slot="start" icon="svg/camera-outline.svg"></ion-icon>
      Select Image
    </ion-button>
    <div>
      @if (image) {
        <img class="selectedImage" [src]="imageData" alt="selected_image"/>
      }
    </div>
    @if (sketchResponse) {
      <img class="sketch" [src]="'data:image/jpg;base64,' +sketchResponse.imageBase64" alt="generated drawing"/>
      <p class="ion-margin">{{ sketchResponse.description }}</p>
    }
    @if (error) {
      <p class="ion-margin error">{{ error }}</p>
    }
  </div>
</ion-content>
